.DS_Store
.DS_Store?
Icon
Tutorials/.ipynb_checkpoints
Tutorials/.vscode
Tutorials/.DS_Store
Exercises/.DS_Store
Tutorials/LATERdata
Project/data
Project/.DS_Store
Project/analysis/.DS_Store
Project/presentations